/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

/* div{
  background-image: url("images/soup.jpg")
} */

.image img{
  max-width: 100%;
  
  /* max-height: 100%; */
 
 
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
}

.image{
  position: relative;
  text-align: center;
}

.intro{
  /* position: relative; */
 /* justify-content: center;
 align-items: center; */

 margin: 100px;
 height: 190px;
 border-bottom: 1px solid #17212e;
 
 

}
.image2 img{
  
  max-width: 100%;
  margin-left: 190px;
 
 
}
.image3 img{
  max-width: 100%;
  margin-left: 190px;
}

.cont{
  /* margin: 100px; */
  /* position: relative;
  left: 190px;
  border-bottom: 1px solid #17212e; */
  max-width: 100%;
  justify-content: center;
}
.ingr{
  margin: 100px;
 /* height: 190px; */
 border-bottom: 1px solid #17212e;
 /* background-color: red; */
}

.dir{
  margin: 100px;
 /* height: 190px; */
 /* border-bottom: 1px solid #17212e; */
 /* background-color: red; */
}