*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: white;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/apple-pie.jpg);
    background-size: cover;
    background-position: center;
 
}
.container{
    padding: 10px 10%;

}
.header-text h1{
    font-size: 60px;
    margin-top: 25%;
    text-align: center;
}
#para1{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    font-size: 20px;
}
#para2{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    font-size: 20px;
}
#para3{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    font-size: 20px;
}
.list{
    margin-left: 20px;
}
h4{
    margin-left: 25%;
}
h5{
    margin-left: 35%;
}
