* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 0;
    line-height: 1.5;
  }
  figure {
    width: 100vw;
    height: 65vh;
    background: url(../images/apple-pie.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    color: white;
    font-size: 60px;
  }
  .description {
    max-width: 1024px;
    margin: 0px auto;
    padding: 3% 5%;
  }
  .description p {
    font-size: 16px;
    text-align: justify;
  }
  .description div,
  .ingredients div {
    padding: 3.5% 0;
    display: flex;
    justify-content: center;
  }
  #recipe-info,
  #cooking-info {
    width: 100%;
    max-width: 500px;
  }
  @media (min-width: 1024px) {
    .description p {
      font-size: 20px;
    }
  }
  
  .ingredients,
  .directions {
    padding: 0 5% 3% 5%;
    max-width: 1024px;
    margin: 0px auto;
  }
  ul,
  ol {
    padding: 3.5% 5%;
    list-style: none;
  }
  ol li {
    list-style-type: decimal;
  }